<!--
   - Copyright(c) 2018 Xuanrui Qi
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
<h2>Code</h2><br>
<p>
  I write code in my mean time. Just as everyone does. I've also written quite a lot of code 
  for course projects.
  <br>
  <i>
    Note: projects marked with an asterisk (*) are the collaborative
    work of others and myself.
  </i>
  <br><br>
</p>

<h3>Hobby projects</h3><br>
<div class="card border-light mb-3">
  <div class="card-header bg-light">SAT Solver</div>
  <div class="card-body">
    <p class="card-text">
      A simple SAT solver and Boolean evaluator in OCaml.
      <br><br>
      <p style="font-size: 90%;">
        <i>Source code</i>: <a href="https://github.com/xuanruiqi/sat-solver">
        https://github.com/xuanruiqi/sat-solver</a>
      </p>
    </p>
  </div>
</div>

<div class="card border-light mb-3">
  <div class="card-header bg-light">DynRuby</div>
  <div class="card-body">
    <p class="card-text">
      Smart ruby annotatations with minimal code, displayed on hover! Live
      demo <a href="http://www.xuanruiqi.com/dynruby/index.html">here</a>!
      <br><br>
      <p style="font-size: 90%;">
        <i>Source code</i>: <a href="https://github.com/xuanruiqi/dynruby">
        https://github.com/xuanruiqi/dynruby</a><br>
      </p>
    </p>
  </div>
</div>

<div class="card border-light mb-3">
  <div class="card-header bg-light">Brainf**k Interpreter</div>
  <div class="card-body">
    <p class="card-text">
      A Brainf**k interpreter written in C++11.
      <br><br>
      <p style="font-size: 90%;">
        <i>Source code</i>: <a href="https://github.com/xuanruiqi/rbrainf-k-cpp">
        https://github.com/xuanruiqi/rbrainf-k-cpp</a>
      </p>
    </p>
  </div>
</div>
<br>

<h3>Course projects</h3><br>
<div class="card border-light mb-3">
  <div class="card-header bg-light">A Distributed, Peer-to-Peer File Backup Service*</div>
  <div class="card-body">
    <p class="card-text">
      A distributed, peer-to-peer, potentially high-throughput file backup service
      written in Erlang. This is the final project for Concurrent Programming
      (Comp 50) at Tufts.
      <br><br>
      <p style="font-size: 90%;">
        <i>Source code</i>: <a href="https://github.com/DistBackup/dbscore">
        https://github.com/DistBackup/dbscore</a><br>
      </p>
    </p>
  </div>
</div>

<div class="card border-light mb-3">
  <div class="card-header bg-light">The Universal Machine (UM)*</div>
  <div class="card-body">
    <p class="card-text">
      A register virtual machine with a linear,
      segmented memory model, a small, Turing complete
      instruction set, and a simple assembly language.
      This is a class project for Machine Structure and
      Assembly Language Programming (Comp 40) at Tufts.
      <br><br>
      <figure>
        <img src="assets/images/um_advent.png">
        <figcaption>The UM running "advent", a simple adventure
          game written in UM Assembly Language.
        </figcaption>
      </figure>
      <br><br>
      <p style="font-size: 90%;">
        <i>Source code available on request, pending a
           non-disclosure and fair use agreement.</i><br>
      </p>
    </p>
  </div>
</div>

<div class="card border-light mb-3">
  <div class="card-header bg-light">Image Compressor*</div>
  <div class="card-body">
    <p class="card-text">
      A image compressor and decompressor that efficiently
      compresses PPM into a JPEG-like binary format. This is a class
      project for Machine Structure and Assembly Language Programming
      (Comp 40) at Tufts.
      <br><br>
      <figure>
        <img src="assets/images/arith.png">
        <figcaption>
          The image on the left is uncompressed, and the
          one on the right is compressed. <br>Note the visible
          difference in quality.
        </figcaption>
      </figure>
      <br><br>
      <p style="font-size: 90%;">
        <i>Source code available on request, pending a
           non-disclosure and fair use agreement.</i><br>
      </p>
    </p>
  </div>
</div>

<div class="card border-light mb-3">
  <div class="card-header bg-light">Boggle</div>
  <div class="card-body">
    <p class="card-text">
      A boggle solver and solution validator implemented using
      graph search algorithms. This is a class project for Data
      Structures (Comp 15) at Tufts.<br><br>
      <p style="font-size: 90%;">
        <i>Source code available on request, pending a
           non-disclosure and fair use agreement.</i><br>
      </p>
    </p>
  </div>
</div>
