<!--
   - Copyright(c) 2016 Xuanrui Qi
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<h2>Contact Information</h2><br>
<p>
    You could reach me in various ways. Your best shot to keep in touch
    with me would be by shooting an email to:
    <a href="mailto:me@xuanruiqi.com">me@xuanruiqi.com</a>, or to my
    departmental email address, xqi01 [at] cs.tufts.edu
    (replace [at] with @) for professional correspondence.
</p>

<p>
    You could also find me on LinkedIn
    (<a href="https://www.linkedin.com/in/xuanruiqi">Xuanrui Qi</a>),
    Github (<a href="https://github.com/xuanruiqi">@xuanruiqi</a>),
    Quora (<a href="https://www.quora.com/profile/Xuanrui-Qi">Xuanrui Qi</a>),
    or Stack Overflow/Stack Exchange
    (<a href="http://stackexchange.com/users/7305311/xuanrui-qi">xuq01</a>).
    I will usually accept LinkedIn connection invitations, and I'm
    also willing to collaborate with people on Github open source projects.
</p>
