<h2>个人履历</h2><br>

<h4>姓名与联络方式</h4>
亓璇睿（Qi, Xuanrui）<br>
Email: <a href="mailto:me@xuanruiqi.com">me@xuanruiqi.com</a><br><br>

<h4>学历</h4>
<ul>
    <li><b>理学学士（计算机科学）<br> 
    <a href="https://www.tufts.edu/">塔夫茨大学</a><br>
    2018届毕业生<br></b>
    辅修数学，双主修国际关系。GPA：3.7，专业GPA：3.74（满绩点为4.0）。<br><br></li>
    <li><b><a href="https://www.cs.uoregon.edu/research/summerschool/">俄勒冈程序设计语言暑期学校</a><br>
    <a href="https://www.cs.uoregon.edu/">俄勒冈大学 计算机与信息科学系</a><br>
    2017年6-7月<br></b>
    程序设计语言学界最重要的暑期学校之一，为期两周。<br><br></li>
    <li><b>高级中学<br>
    广东省深圳中学<br>
    2014届毕业生<br></b>
    毕业于深圳中学国际课程体系（现为实验课程体系国际课程）。</li>
</ul><br>

<h4>经历</h4>
<ul>
    <li><b>研究助理<br>
        塔夫茨大学计算机科学系<br></b>
        为Samuel Guyer教授担任研究助理，研究课题为大数据应用（Hadoop、Spark等）中的JVM垃圾回收。</li><br>
    <li><b>实习生<br>
        中国科学院自动化研究所复杂系统管理与控制国家重点实验室<br></b>
        主要实习内容为计算机视觉与深度学习。</li>
</ul><br>

<h4>课程</h4>
<b>塔夫茨大学：</b><br>
计算机科学系： 
<ul><li>数据结构</li>
<li>计算机体系结构与汇编语言编程</li>
<li>程序设计语言</li>
<li>算法（分析与设计）</li>
<li>并行式编程</li>
<li>计算理论（图灵机与计算复杂性理论）</li>
<li>类型与内存安全（指导学习/Directed Study）</li>
<li>自然语言处理（计划中）</li></ul>
数学系：
<ul><li>线性代数</li>
<li>离散数学</li>
<li>概率论</li>
<li>统计学</li>
<li>抽象代数Ｉ（计划中）</li></ul>
<b>俄勒冈编程语言暑校（OPLSS）</b>：
<ul><li>多语言软件的正确与安全编译</li>
<li>Idris语言中的依赖类型</li>
<li>渐进类型（Gradual Typing）</li>
<li>编程语言背景</li>
<li>依赖类型与线性</li>
<li>亚结构类型（Substructural Typing）与并行式编程</li>
<li>契约（Contracts）、渐进类型、可约表达式（Redex）、抽象机与抽象解释</li></ul><br>

<h4>语言</h4>
形式语言：C/C++、Scheme/Racket、OCaml、Java、Python、Ruby、JavaScript、Erlang、Haskell、Standard ML、λ演算。<br>
自然语言：汉语（母语）、英语（双语使用者）、日语（初级至中级程度）。<br><br>