<h2>履歴書</h2><br>

<h4>氏名と連絡先</h4>
<ruby><rb>亓</rb><rt>キ</rt></ruby> <ruby><rb>璇睿</rb><rt>センエイ</rt></ruby>（Qi, Xuanrui）<br>
中国語：チー　シュアンルイ<br>
メールアドレス： <a href="mailto:me@xuanruiqi.com">me@xuanruiqi.com</a><br><br>

<h4>学歴</h4>
<ul>
    <li><b>理学学士（コンピュータ科学）<br> 
    <a href="https://www.tufts.edu/">タフツ大学</a><br>
    第159期（2018年5月卒業予定）<br></b>
    数学副専攻（minor）、国際関係学二分野専攻（double major）。GPAは3.7、専攻GPAは3.74（満点は4.0）である。<br><br></li>
    <li><b><a href="https://www.cs.uoregon.edu/research/summerschool/">オレゴン・プログラミング言語サマースクール</a>
    （Oregon Programming Languages Summer School）<br>
    <a href="https://www.cs.uoregon.edu/">オレゴン大学　コンピュータ情報科学科</a><br>
    2017年6-7月<br></b>
    プログラミング言語界に最も重要なサマースクールの一つ、2週間短期課程である。<br><br></li>
    <li><b>高等学校<br>
    深セン中学（中国・深セン市）<br>
    2014年卒<br></b>
    深セン中学高等部国際科（アメリカンカリキュラム、現在は実験科国際系コース）卒。</li>
</ul><br>

<h4>職歴</h4>
<ul>
    <li><b>助研究員（Research Assistant）<br>
        タフツ大学コンピュータ科学科<br></b>
        Samuel Guyer教授の助手である。研究課題はビッグデータ（Big Data）アプリケーション（Hadoop、Sparkなど）におけるJVM（Java仮想マシン）のガベージコレクション。</li><br>
    <li><b>インターン生<br>
        中国科学院自動化研究所　複雑システム管理と制御国家重点研究室<br></b>
        主はコンピュータ・ビジョンとDeep Learning。</li>
</ul><br>

<h4>課程</h4>
<b>タフツ大学：</b><br>
コンピュータ科学科：
<ul><li>データ構造</li>
<li>コンピュータ構成とアセンブリ言語プログラミング</li>
<li>プログラミング言語論</li>
<li>アルゴリズム（分析と設計）</li>
<li>並行プログラミング</li>
<li>計算理論（チューリングマシンの理論と計算複雑理論）</li>
<li>型とメモリ安全性（指導学習/Directed Study）</li>
<li>自然言語処理（計画中）</li></ul>
数学科：
<ul><li>線形代数学</li>
<li>離散数学</li>
<li>確率論</li>
<li>統計学</li>
<li>抽象代数学Ｉ（計画中）</li></ul>
<b>オレゴン・プログラミング言語サマースクール（OPLSS）</b>：
<ul><li>多言語ソフトウェアの正確で安全的なコンパイル</li>
<li>Idris言語において依存型（Dependent Typing）</li>
<li>段階型（Gradual Typing）</li>
<li>プログラミング言語バックグラウンド</li>
<li>依存型と線形性</li>
<li>部分構造型（Substructural Typing）と並行プログラミング</li>
<li>契約（Contracts）、段階型、Redex、抽象マシンと抽象解釈</li></ul><br>

<h4>言語</h4>
形式言語：C/C++、Scheme/Racket、OCaml、Java、Python、Ruby、JavaScript、Erlang、Haskell、Standard ML、ラムダ（λ）計算。<br>
自然言語：中国語（ネイティブ）、英語（ネイティブレベル）、日本語（中級）。<br><br>