<div class="row">
    <div class="col-sm-4"><h2>Curriculum Vitae</h2><br></div>
    <div class="col-sm-4 pad"></div>
    <div class="col-sm-2 pad"></div>
</div>

<div class="row"><br></div>
<h4>Name and Contact Information</h4>
Qi, Xuanrui (Ray)<br>
E-mail: <a href="mailto:me@xuanruiqi.com">me@xuanruiqi.com</a><br><br>

<h4>Education</h4>
<ul>
    <li><b>M.S. in Computer Science, May 2019 (expected)<br> 
        <a href="https://www.cs.tufts.edu/">Tufts University</a>, Medford, MA, United States<br></b>
        <i>Advisor</i>: <a href="https://www.cs.tufts.edu/~sguyer/">Samuel Z. Guyer</a><br><br>
    </li>

    <li><b>B.S. in Computer Science, <i>magna cum laude</i>, with thesis honors, May 2018<br> 
        <a href="https://www.tufts.edu/">Tufts University</a>, Medford, MA, United States<br></b>
        <i>second major in international relations &amp; minor in mathematics</i><br>
        <i>GPA</i>: 3.72/4.0<br>
        <i>Advisor</i>: Samuel Z. Guyer<br>
        <i>Senior Honors Thesis</i>: "Elephant Tracks II: Practical, Extensible Memory Tracing"<br><br>
    </li>
    
    <li><b style="font-size:105%;">High School Diploma, June 2014<br>
        Shenzhen Middle School, Shenzhen, China<br></b></li>
</ul><br>

<h4>Professional Experience</h4>
<h5>Research Experience</h5>
<ul>
    <li><b>Visiting Researcher<br>
        Graduate School of Mathematics, Nagoya University<br></b>
        <i>June&mdash;August 2018</i><br>
        Host: <a href="https://www.math.nagoya-u.ac.jp/~garrigue/">Jacques Garrigue</a></li><br>
    <li><b>Undergraduate Researcher<br>
        Department of Computer Science, Tufts University<br></b>
        <i>February 2017&mdash;May 2018</i><br>
        Undergraduate researcher in the RedLine research group, supervised by
        Professor Sam Guyer.</li>
</ul>
<h5>Teaching Experience</h5>
<ul>
    <li><b>Teaching Assistant<br>
        Department of Computer Science, Tufts University<br></b>
        <i>September&mdash;December 2017</i><br>
        Course: Concurrency (Comp 50CP, instructor: 
        <a href="https://www.eecs.tufts.edu/~msheldon/">Dr. Mark Sheldon</a>), Fall 2017</li><br>
    <li><b>Peer Instructor (Instructor of Record)<br>
        <a href="http://excollege.tufts.edu/">Experimental College</a>, Tufts University<br></b>
        <i>January&mdash;May 2018</i><br>
        Peer instructor for the Spring 2018 semester, teaching a full-credit Tufts University 
        undergraduate course on a pass/fail basis, as the instructor of record.</li>
</ul>
<h5>Other Professional Experience</h5>
<ul>
    <li><b>Intern<br>
        State Key Laboratory of Management and Control of Complex Systems, Institute of Automation, 
        Chinese Academy of Sciences<br></b>
        <i>July&mdash;August 2016<br></i>
        Worked with computer vision and deep learning.</li>
</ul><br>

<h4>Conferences, Workshops and Summer Schools</h4>
<ul>
    <li><b>SIGPLAN Symposium on Principles of Programming Languages (POPL) 2018</b><br>
           Student volunteer.<br><br></li>
    <li><b>International Conference on Functional Programming (ICFP) 2017</b><br>
           Recipient of PLMW student travel scholarship.<br><br></li>
    <li><b>Oregon Programming Languages Summer School (OPLSS) 2017</b><br>
           Topic: "A Spectrum of Types".
    </li>
</ul><br>

<h4>Languages</h4>
Formal: C/C++, Coq, Scheme/Racket, OCaml, Java, Python, Ruby, JavaScript, Erlang, Haskell, Standard ML, (various) λ-calculi.<br>
Natural: Mandarin (native), English (fully bilingual), Cantonese (fluent), Japanese (intermediate, JLPT N2).<br><br>

<h4>Citizenship</h4>
China (People's Republic of). United States immigration status: F-1.<br><br>