<div class="row">
    <div class="col-sm-4"><h2>Curriculum Vitae</h2><br></div>
    <div class="col-sm-4 pad"></div>
    <div class="col-sm-2 pad"></div>
</div>

<div class="row"><br></div>
<h4>Name and Contact Information</h4>
Qi, Xuanrui (亓璇睿)<br>
E-mail: <a href="mailto:me@xuanruiqi.com">me@xuanruiqi.com</a><br><br>

<h4>Education</h4>
<ul>
    <li><b>Bachelor of Science in Computer Science<br> 
    <a href="https://www.tufts.edu/">Tufts University</a>, Medford, Mass., United States<br>
    May 2018 (expected)<br></b>
    Minor in mathematics, second major in international relations. GPA: 3.7/4.0, major GPA: 3.74/4.0.<br><br></li>
    <li><b style="font-size:105%;">High School Diploma<br>
    Shenzhen Middle School, Shenzhen, China<br>
    June 2014<br></b>
    Studied in the International Curriculum (American curriculum, now the international 
    section of the Experimental Curriculum).</li>
</ul><br>

<h4>Projects</h4>
<ul>
    <li><b>Java Memory Tracing</b><br>
           Redesign and re-engineering of Elephant Tracks, a tool for JVM memory 
           tracing and garbage collection profiling.<br><br>
    </li>
    <li><b>Memory Behavior of Big Data Applications</b><br>
           Investigation of the memory behavior and GC patterns of big data applications 
           (e.g., Spark, Lucene) running on the JVM.
    </li>
</ul><br>


<h4>Experience</h4>
<ul>
    <li><b>Research Assistant<br>
        Department of Computer Science, Tufts University<br></b>
        Paid research assistant in the RedLine research group with Professor Samuel Guyer.</li><br>
    <li><b>Intern<br>
        State Key Laboratory of Management and Control of Complex Systems, Institute of Automation, 
        Chinese Academy of Sciences<br></b>
        Worked with computer vision and deep learning.</li>
</ul><br>

<h4>Conferences, Workshops and Summer Schools</h4>
<ul>
    <li><b>International Conference on Functional Programming (ICFP) 2017</b><br>
           Recipient of PLMW travel funding.<br><br></li>
    <li><b>Oregon Programming Languages Summer School (OPLSS) 2017</b><br>
           Topic: "A Spectrum of Types".
    </li>
</ul><br>

<h4>Coursework</h4>
<b>At Tufts: </b><br>
Department of Computer Science:
<ul><li>Data Structures</li>
<li>Machine Structure and Assembly-Language Programming</li>
<li>Programming Langauges</li>
<li>Algorithms</li>
<li>Concurrent Programming</li>
<li>Theory of Computation</li>
<li>Types and Memory Safety (Directed Study)</li>
<li>Natural Language Processing (upcoming)</li></ul>
Department of Mathematics:
<ul><li>Linear Algebra</li>
<li>Discrete Mathematics</li>
<li>Probability</li>
<li>Statistics</li>
<li>Abstract Algebra I (upcoming)</li></ul>
<b>At OPLSS</b>:
<ul><li>Correct and Secure Compilation for Multi-Language Software</li>
<li>Dependent Types in the Idris Programming Language</li>
<li>Gradual Typing</li>
<li>Programming Languages Background</li>
<li>Dependent Types and Linearity</li>
<li>Substructural Type Systems and Concurrent Programming</li>
<li>Contracts and Gradual Types</li>
<li>Redex, Abstract Machines, and Abstract Interpretation</li></ul><br>

<h4>Languages</h4>
Formal: C/C++, Scheme/Racket, OCaml, Java, Python, Ruby, JavaScript, Erlang, Haskell, Standard ML, λ-calculus.<br>
Natural: Mandarin (native), English (fully bilingual), Cantonese (fluent), Japanese (beginner to intermediate).<br><br>

<h4>Citizenship</h4>
China (People's Republic of). In the United States on F visa.<br><br>