<h2>Curriculum Vitae</h2><br>

<h3>Education</h3>
<div>
    <hr>
    <p>
        <b>Master of Science in Computer Science, 2019 (expected)<br></b>
        <a href="https://www.cs.tufts.edu/">Tufts University</a> (Medford, MA, USA)<br>
        <b>Advisor</b>: <a href="https://www.cs.tufts.edu/~sguyer/">Samuel Z. Guyer</a><br>
        <b>Master's Project</b>: "Dependent Hazelnut: a Type Theory for Interactive Programming and Proving with Typed Holes" 
        (<i>tentative</i>)<br>
    </p><hr>

    <p>
        <b>Bachelor of Science, <i>magna cum laude</i>, with honors in thesis, 2018<br> </b>
        <a href="https://www.tufts.edu/">Tufts University</a> (Medford, MA, USA)<br>
        <b>Majors</b>: computer science &amp; international relations; <b>Minor</b>: mathematics<br>
        <b>GPA</b>: 3.72/4.0<br>
        <b>Advisor</b>: <a href="https://www.cs.tufts.edu/~sguyer/">Samuel Z. Guyer</a><br>
        <b>Senior Honors Thesis</b>: "Elephant Tracks II: Practical, Extensible Memory Tracing"<br>
    </p><hr>

    <p>
        <b>High School Diploma, 2014</b><br>
        Shenzhen Middle School (Shenzhen, China)<br>
    </p><hr><br><br>
</div>

<h3>Research Experience</h3>
<div>
    <hr>
    <p>
        <b>Master's Research</b><br>
        <a href="https://engineering.tufts.edu/cs/">Department of Computer Science, Tufts University</a><br>
        <i>September 2018&mdash;</i><br>
        Working on the <a href="http://hazel.org/">Hazel</a> project, under the (informal) supervision of 
        <a href="https://www.cs.cmu.edu/~comar/">Cyrus Omar</a>, on adding support for dependent types to Hazelnut.<br>
    </p>
    <hr>
    <p>
        <b>Research Visitor</b><br>
        <a href="https://www.math.nagoya-u.ac.jp">Graduate School of Mathematics, Nagoya University</a><br>
        <i>June&mdash;August 2018</i><br>
        I visited and did research with <a href="https://www.math.nagoya-u.ac.jp/~garrigue/">Jacques Garrigue</a>,
        working on verifying tree algorithms for compact data structure.<br>
    </p>
    <hr>
    <p>
        <b>Undergraduate Researcher</b><br>
        <a href="https://engineering.tufts.edu/cs/">Department of Computer Science, Tufts University</a><br>
        <i>February 2017&mdash;May 2018</i><br>
        I worked with Sam Guyer on developing new garbage collection tracing tools, which became my 
        senior honors thesis work.<br>  
    </p><hr><br><br>
</div>

<h3>Teaching</h3>
<div>
    <hr>
    <p>
        <b>Teaching Assistant</b><br>
        <a href="https://engineering.tufts.edu/cs/">Department of Computer Science, Tufts University</a><br>
        <i>September&mdash;December 2017</i> &amp; <i>September&mdash;December 2018</i><br>
        Course: Concurrency (COMP 50CP, instructor: 
        <a href="https://www.eecs.tufts.edu/~msheldon/">Dr. Mark Sheldon</a>), Fall 2017 (undergraduate TA) &amp; 2018
        (gradaute TA)
    </p><hr>

    <p>
        <b>Peer Instructor (Instructor of Record)</b><br>
        <a href="https://excollege.tufts.edu/">Experimental College, Tufts University</a><br>
        <i>January&mdash;May 2018</i><br>
        Peer instructor for the Spring 2018 semester, teaching a full-credit Tufts University 
        undergraduate course graded on a pass/fail basis, as the instructor of record.
    </p><hr><br><br>
</div>

<h3>Other Professional Experience</h3>
<div>
    <hr>
    <p>
        <b>Intern</b><br>
        <a href="http://www.compsys.ia.ac.cn/EN/index.html">State Key Laboratory of Management and Control of Complex Systems, Institute of Automation, 
        Chinese Academy of Sciences</a><br>
        <i>July&mdash;August 2016<br></i>
        Worked with computer vision and deep learning.
    </p><hr><br><br>
</div>