<!--
   - Copyright(c) 2016 Xuanrui Qi
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
<br>
<div class="row">
    <div class="col-sm-2" id="home-box">
        <br>
        <h4><b>Xuanrui (Ray) Qi</b></h4>
        <h4><b>亓璇睿</b></h4>
        <h5>Undergraduate CS student at Tufts University</h5>
        <h5>Enthusiast & researcher in programming languages</h5>
        <br><p>
        <a href="https://github.com/xuanruiqi" class="btn btn-contact btn-github">{{fa-icon "github" fixedWidth=true size=2}}</a>
        <a href="https://twitter.com/xuanruirqi" class="btn btn-contact btn-twitter">{{fa-icon "twitter" fixedWidth=true size=2}}</a> 
        <a href="https://www.linkedin.com/in/xuanruiqi/" class="btn btn-contact btn-linkedin">{{fa-icon "linkedin" fixedWidth=true size=2}}</a> 
        <a href="mailto:me@xuanruiqi.com" class="btn btn-contact btn-envelope">{{fa-icon "envelope" fixedWidth=true size="2"}}</a> 
        </p>
        <br>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
        <br>
        <p>
            I am Xuanrui Qi, a senior at <a href="http://www.tufts.edu">Tufts University</a>, majoring in
            <a href="http://www.cs.tufts.edu/">computer science</a> and
            <a href="http://ase.tufts.edu/ir/">international relations</a>, and minoring in
            <a href="http://math.tufts.edu">mathematics</a>. Some things that I've recently worked on/am interested 
            in: garbage collection, dependent types, DSLs, formal verification, and programming languages in 
            general. 
        </p>
        <h4>Ongoing projects:</h4>
        <p><b>Well-Typed Template Haskell</b>: Template Haskell with compile time 
        type checking.<br>
        <b>Elephant Tracks II</b>: a portable, efficient and language-agnostic 
        memory tracing toolkit.</p>
    </div>
    <div class="col-sm-3"></div>
</div>