<!--
   - Copyright(c) 2016 Xuanrui Qi
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
<br>
<div class="row">
    <div class="col-md-2" id="home-box">
        <br>
        <h5><b>Xuanrui (Ray) Qi</b></h5>
        <h5><b>亓璇睿</b></h5>
        <p>Undergraduate CS student at Tufts University</p>
        <p>Enthusiast & researcher in programming languages</p>
        <p><a href="assets/xuanruiqi.pub.txt">GPG public key</a></p>
        <p>
        <a href="https://github.com/xuanruiqi" class="btn btn-contact btn-github">{{fa-icon "github" fixedWidth=true size=2}}</a>
        <a href="https://twitter.com/xuanruirqi" class="btn btn-contact btn-twitter">{{fa-icon "twitter" fixedWidth=true size=2}}</a> 
        <a href="https://www.linkedin.com/in/xuanruiqi/" class="btn btn-contact btn-linkedin">{{fa-icon "linkedin" fixedWidth=true size=2}}</a> 
        <a href="mailto:me@xuanruiqi.com" class="btn btn-contact btn-envelope">{{fa-icon "envelope" fixedWidth=true size=2}}</a> 
        </p>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-6">
        <div class="col info-box">
            <p>
            I am Xuanrui "Ray" Qi, a senior at <a href="http://www.tufts.edu">Tufts University</a>, majoring in
            <a href="http://www.cs.tufts.edu/">computer science</a> and
            <a href="http://ase.tufts.edu/ir/">international relations</a>, and minoring in
            <a href="http://math.tufts.edu">mathematics</a>. Some things that I've recently worked on/am interested 
            in: garbage collection, program verification, dependent types, DSLs and programming languages in 
            general. 
            </p>
        </div>

        <div class="col info-box">
            <h4>Ongoing projects:</h4>
            <p><b>Elephant Tracks II</b>: a portable, efficient and language-agnostic 
            memory tracing toolkit.<br>
            <b>JumboViz</b> (tentative name): a visualizer for Elephant Tracks GC traces.</p>
        </div>
    </div>
</div>