<!--
   - Copyright(c) 2016 Xuanrui Qi
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<h2>More about me...</h2><br>
<p>
    Well, it's difficult to describe myself in words, but I'll try my best. I hail from the harbor city of
    <a href="https://en.wikipedia.org/wiki/Shenzhen">Shenzhen, China</a>. For those of you who
    don't know, it's the 14th most populous city in the world and a major economic & technological hub in
    Southern China. Before I came to the States for college, I studied at
    <a href="https://en.wikipedia.org/wiki/Shenzhen_Middle_School">Shenzhen Middle School</a>'s
    International Department. Later, I moved to Massachusetts (the Boston Area, to be specific) to attend
    Tufts. Boston is very different from Shenzhen, but it's also a great place. Especially in October!
</p>

<p>
    Currently, I'm an undergraduate at Tufts University in the School of Engineering's BSCS Class of 2018.
    I am interested in programming language theory, design and implementation, problems with concurrency,
    formal logic, and computer vision.
</p>

<p>
    I program in C, <a href="https://www.python.org">Python</a>, <a href="http://www.java.com">Java</a>,
    C++, Scheme, <a href="http://www.erlang.org">Erlang</a>,
    <a href="https://www.javascript.com">JavaScript</a>, <a href="https://www.haskell.org">Haskell</a>,
    <a href="http://www.ruby-lang.org">Ruby</a> (which the backend of this website is written in), and
    I also do a bit of shell scripting in bash.
    I've programmed websites (for example, this one), <a href="http://www.htc.com/us/smartphones/htc-10/"
    title="currently, it's an HTC 10">my Android phone</a>, and a few UNIX command line applications
    (for fun). Em, I've built a few fun ones too: I have implemented Tetris, Boggle
    (for a class project), and Conway's Game of Life. I am also a student member of the
    <a href="http://www.IEEE.org">IEEE</a> <a href="http://www.computer.org">Computer
    Society</a> and of the <a href="http://www.acm.org">ACM</a>. I use
    <a href="http://releases.ubuntu.com/16.04/">Ubuntu 16.04 LTS "Xenial Xerus"</a> and
    <a href="https://www.android.com/versions/marshmallow-6-0/">Android 6.0 "Marshmallow"</a> for
    my PC and phone respectively (although I also work with Microsoft Windows a bit).
</p>

<p>
    I'm enthusiastic about travelling. Besides the U.S. and China, I've also been to Japan, Australia,
    France, Italy, Germany, and a few other countries. That's probably why I became interested in
    international relations. Like every single traveller, I am also a food person. I love exploring
    culinary traditions (and, yes, I cook a lot)!
</p>

<p>
    By the way, I'd like to share {{#link-to "quotes"}} a few of my favorite quotes{{/link-to}} with you.
</p>
