<!--
   - Copyright(c) 2016 Xuanrui Qi
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Xuanrui</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#link-to 'index' tagName="li"}}<a href="">Home</a>{{/link-to}}
        {{#link-to 'cv' tagName="li"}}<a href="">Curriculum Vitae</a>{{/link-to}}
        {{#link-to 'projects' tagName="li"}}<a href="">Projects</a>{{/link-to}}
        {{#link-to 'more' tagName="li"}}<a href="">Professional</a>{{/link-to}}
        {{#link-to 'personal' tagName="li"}}<a href="">Personal</a>{{/link-to}}
        {{#link-to 'contact' tagName="li"}}<a href="">Contact</a>{{/link-to}}
        <li class="navopt"><a href="http://blog.xuanruiqi.com">Blog</a></li>
      </ul>
    </div>
  </div>
</nav>