<!--
   - Copyright(c) 2016 Xuanrui Qi
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Xuanrui</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        {{#link-to 'index' tagName="li" class="nav-item"}}<a class="nav-link" href="">Home</a>{{/link-to}}
        {{#link-to 'cv' tagName="li" class="nav-item"}}<a class="nav-link" href="">Curriculum Vitae</a>{{/link-to}}
        {{#link-to 'research' tagName="li" class="nav-item"}}<a class="nav-link" href="">Research</a>{{/link-to}}
        {{#link-to 'code' tagName="li" class="nav-item"}}<a class="nav-link" href="">Code</a>{{/link-to}}
        {{#link-to 'personal' tagName="li" class="nav-item"}}<a class="nav-link" href="">Personal</a>{{/link-to}}
        {{#link-to 'contact' tagName="li" class="nav-item"}}<a class="nav-link" href="">Contact</a>{{/link-to}}
        <li class="nav-item"><a class="nav-link" href="http://blog.xuanruiqi.com">Blog</a></li>
      </ul>
    </div>
  </div>
</nav>