<!--
   - Copyright(c) 2016 Xuanrui Qi
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<h2>More about myself...</h2><br>
<p>
    Now, let's get more personal. Well, it's difficult to describe myself in words, but I'll try my best. I hail from the harbor city of
    <a href="https://en.wikipedia.org/wiki/Shenzhen">Shenzhen, China</a>. For those of you who
    don't know, it's the 14th most populous city in the world and a major economic & technological hub in
    Southern China. Before I came to the States for college, I studied at
    <a href="https://en.wikipedia.org/wiki/Shenzhen_Middle_School">Shenzhen Middle School</a>'s
    International Department. Later, I moved to Massachusetts (the Boston Area, to be specific) to attend
    Tufts. Boston is very different from Shenzhen, but it's also a great place. Especially in October!
</p>

<p>
    I'm enthusiastic about travelling. Besides the U.S. and China, I've also been to Japan, Australia,
    France, Italy, Germany, and a few other countries. That's probably why I became interested in
    international relations. Like every single traveller, I am also a food person. I love exploring
    culinary traditions (and, yes, I cook a lot)!
</p>

<p>
    However, despite my passion for travelling, history and cultures, I don't speak a lot of languages 
    yet. I speak English, Mandarin and Cantonese rather fluently, and I'm a self taught learner of 
    the Japanese language.
</p>

<p>
    By the way, I'd like to share {{#link-to "quotes"}} a few of my favorite quotes{{/link-to}} with you.
</p>