<!--
   - Copyright(c) 2016 Xuanrui Qi
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<h2>Personal</h2><br>
<h4>Residency</h4>
<p>
    I live in the Boston suburb of <a href="https://en.wikipedia.org/wiki/Somerville%2C_Massachusetts">Somerviile, 
    Massachusetts</a>, near Tufts University, where I go to school. Somerville is a very 
    nice suburb, and Boston is a great place for living (minus the winters) in general.
</p>
<p>
    Previous to coming to the US for college, I lived in the port city of 
    <a href="https://en.wikipedia.org/wiki/Shenzhen">Shenzhen</a>, also known as the 
    "Silicon Valley of China", for almost my entire previous life.
</p><br>

<h4>Travel</h4>
<p>
    I'm enthusiastic about travelling, although I frequently find myself having little 
    time to travel. Some of my past destinations include:
</p>
<ul>
    <li>Seattle: although I had little time to see the city, I can feel that 
        Seattle is a nice city in almost all respects. It's nice, vibrant but not 
        too much so, and has a great physical surroding - the mountains of Washington.
    </li>
    <li>New York City: I guess this needs little extra explanation.</li>
    <li>Tokyo: another place that needs little extra explanation.</li>
    <li>
        Sapporo, Hokkaido: Sapporo is much like Boston and rather snowy, but it has a 
        much larger night life scene.
    </li>
    <li>
        Shanghai: well, although very similar NYC and Tokyo it is, Shanghai has a 
        more "commonplace" taste to it, e.g., try out the small eateries during breakfast 
        time!
    </li>
    <li>
        Yunnan, China: one of the popular destinations for tourism and one of 
        my favorites. Yunnan is full of the beauty of nature, different ethnic 
        cultures, and exotic food, but if you are unlucky and unwitting you could 
        run into danger, scams or other kinds of trouble!
    </li>
    <li>
        Australia: Australia is distant and somewhat different from all other parts 
        of the world. Life there is very laid-back and animals are a more common scene 
        than in practically everywhere else.
    </li>
    <li>
        Paris, Rome, Amsterdam, and Berlin: I have been there, but it was really many 
        years ago and I remember little of that. I have plans to revisit them though.
    </li>
</ul><br>

<h4>Reading</h4>
<p>
    I don't read much fiction, but I like to read nonfiction. Recently I read about 
    the ethnomusicology of Asian popular music:
</p>
<ul>
    <li><i>Sayonara Amerika, Sayonara Nippon: A Geopolitical Prehistory of J-pop</i> by 
    Michael K. Bourdaghs</li>
    <li><i>Cries of Joy, Songs of Sorrow: Chinese Pop Music and Its Cultural Connotations</i> 
    by Marc L. Moskowitz</li>
    <li><i>Tears of Longing: Nostalgia and the Nation in Japanese Popular Song</i> by 
    Christine R. Yano</li>
</ul>
<p>
    But I also like to read poetry from time to time. 
</p><br>

<h4>Music</h4>
<p>
    I'm no expert on music, but I do have some preferences. For classical music, I like 
    Baroque era works, Frederic Chopin's beautiful piano music, and Giacomo Puccini's 
    operas.
</p>
<p>
    I like to listen to much of (especially 1990s) East Asian popular music in general. As for 
    Taiwanese/Chinese pop, I enjoy Faye Wong [王菲], Jay Chou [周杰倫], Stefanie Yanzi Sun [孫燕姿], S.H.E and 
    Penny Tai's [戴佩妮] music. For J-Pop, artists such as Arai Yumi (Matsutoya Yumi) [松任谷由実], SPEED, Amuro 
    Namie [安室奈美恵], Utada Hikaru [宇多田ヒカル], Perfume and Ikimonogakari [いきものがかり] are among my 
    favorites, but I enjoy most of the 1990s J-Pop scene. In general, I do prefer the "classics".
</p><br>

<h4>Internet Presence</h4>
<p>
    I could be found at many places online. I have a Twitter account, but I don't use Facebook. 
    I also answer questions on Stack Exchange and Zhihu (the Chinese equivalent of 
    Quora) rather often; I am on Quora too. I'm on Freenode IRC as <i>xuanrui</i>, and I'm most active 
    on the <i>&#35;haskell</i>, <i>&#35;idris</i>, <i>&#35;ocaml</i>, and <i>&#35;&#35;typetheory</i> channels.
</p><br>

<h4>Favorite Quotes</h4>
<p>
    They're {{#link-to "quotes"}}here{{/link-to}}.
</p>