<!--
   - Copyright(c) 2016 Xuanrui Qi
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<h2>Personal</h2><br>
<h4>Personal Preferences</h4>
<ul>
    <li><b>Operating system:</b> Arch Linux (formerly Ubuntu)</li>
    <li><b>Editor:</b> Emacs (occasionally Visual Studio Code)</li>
    <li><b>Browser:</b> Chromium</li>
    <li><b>Desktop environment:</b> GNOME 3</li>
    <li><b>Terminal:</b> GNOME Terminal</li>
    <li><b>Chinese input method:</b> Sogou Pinyin for Linux</li>
    <li><b>Japanese input method:</b> Mozc</li>
    <li><b>Coke or Pepsi:</b> Coke</li>
</ul><br>

<h4>Internet Presence</h4>
<p>
    I could be found at many places online. I have a Twitter account, but I don't use Facebook. 
    I am on Quora too. I'm on Freenode IRC as <i>xuanrui</i>, and I'm most active 
    on the <i>&#35;haskell</i>, <i>&#35;idris</i> and <i>&#35;ocaml</i> channels.
</p><br>

<h4>Favorite Quotes</h4>
<p>
    They're {{#link-to "quotes"}}here{{/link-to}}.
</p><br>

<h4>Thing I do when I don't do computing</h4>
<h5>Reading</h5>
<p>
I don't read much fiction, but I do read some history, cultural studies, and political theory books. Recently, 
though, I started reading Murakami's <i>Norwegian Wood</i> in the original to improve my Japanese langauge skills &mdash;
it has been OK by far.</p>

<h5>Paradox Interactive</h5>
<p>
I'm a fan of nearly all Paradox Interactive titles, especially <i>Europa Universalis 4</i>, <i>Hearts of Iron 4</i>, and 
<i>Crusader Kings II</i>.</p>

<h5>Music</h5>
<p>
    I listen to a lot of popular music, especially pop rock and technopop. Particularly, I listen to a lot of Japanese popular music.
</p>