<!--
   - Copyright(c) 2018 Xuanrui Qi
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<h2>Personal</h2><br>

<p>Some things about myself, but you probably should just follow me on Twitter or something.<br><br></p>

<h3>Erdős Number</h3>
<p>
    My Erdős number is no greater than 5, via the collaboration path: <a href="https://staff.aist.go.jp/reynald.affeldt/">Reynald Affeldt</a>,
    <a href="http://www-kb.is.s.u-tokyo.ac.jp/~koba/">Naoki Kobayashi</a>, 
    <a href="http://www.ru.is/kennarar/mmh/">Magnús M. Halldórsson</a>, <a href="https://www.cs.rutgers.edu/~szegedy/">Márió Szegedy</a>, Paul Erdős.
</p><br>

<h3>Personal Preferences</h3>
<ul>
    <li><b>Operating system:</b> Arch Linux (formerly Ubuntu)</li>
    <li><b>Editor:</b> Emacs (occasionally Visual Studio Code)</li>
    <li><b>Browser:</b> Chromium</li>
    <li><b>Desktop environment:</b> GNOME 3</li>
    <li><b>Terminal:</b> GNOME Terminal</li>
    <li><b>Chinese input method:</b> Sogou Pinyin for Linux</li>
    <li><b>Japanese input method:</b> Mozc</li>
    <li><b>Coke or Pepsi:</b> Coke</li>
</ul><br>

<h3>Internet Presence</h3>
<p>
    I could be found at many places online. I have a Twitter account, but I don't use Facebook. 
    I am on Quora too. I'm on Freenode IRC as <i>xuanrui</i>.
</p><br>

<h3>Favorite Quotes</h3>
<p>
    They're {{#link-to "quotes"}}here{{/link-to}}.
</p><br>

<h3>Thing I do when I don't do computing</h3>
<h4>Reading</h4>
<p>
I don't read much fiction, but I do read some history, cultural studies, and political theory books.</p>

<h4>Paradox Interactive</h4>
<p>
I'm a fan of nearly all Paradox Interactive titles, especially <i>Europa Universalis 4</i>, <i>Hearts of Iron 4</i>, and 
<i>Crusader Kings II</i>.</p>

<h4>Music</h4>
<p>
    I listen to a lot of popular music, especially pop rock and technopop. Particularly, I listen to a lot of Japanese popular music.
</p>