<!--
   - Copyright(c) 2016 Xuanrui Qi
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
<h2>Projects</h2><br>
<p><i>
   Note: projects marked with an asterisk (*) are the collaborative
   work of others and myself.
</i></p>

<div class="panel panel-default">
  <div class="panel-heading">Well-Typed Template Haskell*</div>
  <div class="panel-body">
    <p>
      My senior capstone design project. We're researching 
      and implementing compile-time type checking for Template Haskell, 
      and our eventual goal is to make Template Haskell sound and safe. 
      Details and implementation are in the works!
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Elephant Tracks II: A Portable, Efficient Memory Tracing Tool</div>
  <div class="panel-body">
    <p>
      My research project with Professor Samuel Guyer and the RedLine Research 
      Group at Tufts. Our project involves building a portable, efficient and 
      language-agnostic memory tracing tool, Elephant Tracks II. More details 
      are in the works. Look out!
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Types and Memory Safe Programming</div>
  <div class="panel-body">
    <p>
      A directed study on static semantic guarantees of memory safety. The
      main techniques considered include substructural/linear typing,
      region and effect systems, and separation logic. I wrote a report on 
      my project in which I extended a language described by someone else, 
      see <a href="assets/report.pdf">here</a>. You can download all source code 
      as a Literate Haskell document <a href="assets/Report.lhs">here</a>.
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">A Distributed, Peer-to-Peer File Backup Service*</div>
  <div class="panel-body">
    <p>
      A distributed, peer-to-peer, potentially high-throughput file backup service
      written in Erlang. This is the final project for Concurrent Programming
      (Comp 50) at Tufts.
      <br><br>
      <small>
        <i>Source code</i>: <a href="https://github.com/DistBackup/dbscore">
        https://github.com/DistBackup/dbscore</a><br>
      </small>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">The Universal Machine (UM)*</div>
  <div class="panel-body">
    <p>
      A register virtual machine with a linear,
      segmented memory model, a small, Turing complete
      instruction set, and a simple assembly language.
      This is a class project for Machine Structure and
      Assembly Language Programming (Comp 40) at Tufts.
      <br><br>
      <figure>
        <img src="assets/images/um_advent.png">
        <figcaption>The UM running "advent", a simple adventure
          game written in UM Assembly Language.
        </figcaption>
      </figure>
      <br><br>
      <small>
        <i>Source code available on request, pending a
           non-disclosure and fair use agreement.</i><br>
      </small>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">SAT Solver</div>
  <div class="panel-body">
    <p>
      A simple SAT solver and Boolean evaluator in OCaml.
      <br><br>
      <small>
        <i>Source code</i>: <a href="https://github.com/xuanruiqi/sat-solver">
        https://github.com/xuanruiqi/sat-solver</a><br>
      </small>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">DynRuby</div>
  <div class="panel-body">
    <p>
      Smart ruby annotatations with minimal code, displayed on hover! Live
      demo <a href="http://www.xuanruiqi.com/dynruby/index.html">here</a>!
      <br><br>
      <small>
        <i>Source code</i>: <a href="https://github.com/xuanruiqi/dynruby">
        https://github.com/xuanruiqi/dynruby</a><br>
      </small>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Brainf**k Interpreter</div>
  <div class="panel-body">
    <p>
      A Brainf**k interpreter written in C++11.
      <br><br>
      <small>
        <i>Source code</i>: <a href="https://github.com/xuanruiqi/rbrainf-k-cpp">
        https://github.com/xuanruiqi/rbrainf-k-cpp</a>
      </small>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Image Compressor*</div>
  <div class="panel-body">
    <p>
      A image compressor and decompressor that efficiently
      compresses PPM into a JPEG-like binary format. This is a class
      project for Machine Structure and Assembly Language Programming
      (Comp 40) at Tufts.
      <br><br>
      <figure>
        <img src="assets/images/arith.png">
        <figcaption>
          The image on the left is uncompressed, and the
          one on the right is compressed. <br>Note the visible
          difference in quality.
        </figcaption>
      </figure>
      <br><br>
      <small>
        <i>Source code available on request, pending a
           non-disclosure and fair use agreement.</i><br>
      </small>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Boggle</div>
  <div class="panel-body">
    <p>
      A boggle solver and solution validator implemented using
      graph search algorithms. This is a class project for Data
      Structures (Comp 15) at Tufts.<br><br>
      <small>
        <i>Source code available on request, pending a
           non-disclosure and fair use agreement.</i><br>
      </small>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">SSH Quick Sign-in</div>
  <div class="panel-body">
    <p>
      A simple shell script that allows you to quickly
      sign in to a school/work machine.<br><br>
      <small>
        <i>Source code</i>: <a href="https://github.com/xuanruiqi/ssh-quick-sign-in">
        https://github.com/xuanruiqi/ssh-quick-sign-in</a><br>
      </small>
    </p>
  </div>
</div>
