<!--
   - Copyright(c) 2016 Xuanrui Qi
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<h2>Some of My Favorite Quotes</h2><br>

<blockquote>
    <p><i>On ne voit bien qu'avec le cœur. L'essentiel est invisible pour les yeux.</i></p>
    <p>"It is only with the heart that one can see rightly; what is essential is invisible to the eye."</p>
    <p>Antoine de Saint-Exupéry,  <i>Le Petit Prince</i> (<i>The Little Prince</i>).</p>
</blockquote>

<blockquote>
    <p>"I decline to accept the end of man."</p>
    <p>William Faulkner, at the Nobel Prize Banquet (1949).</p>
</blockquote>

<blockquote>
    <p><i>Die Philosophen haben die Welt nur verschieden interpretiert, es kömmt drauf an,
          sie zu verändern.</i></p>
    <p>"The philosophers have only interpreted the world, in different ways; the point, however,
       is to change it."</p>
    <p>Karl Marx, <i>Theses on Feuerbach</i> (1845).</p>
</blockquote>
