<!--
   - Copyright(c) 2016 Xuanrui Qi
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<h2>Some of My Favorite Quotes</h2><br>

<blockquote class="blockquote">
    <p class="mb-0"><i>On ne voit bien qu'avec le cœur. L'essentiel est invisible pour les yeux.</i>
    <br>
    "It is only with the heart that one can see rightly; what is essential is invisible to the eye."</p>
    <footer class="blockquote-footer">Antoine de Saint-Exupéry, <cite title="Le Petit Prince">Le Petit Prince</cite> (<cite title="The Little Prince"><a href="https://en.wikipedia.org/wiki/The_Little_Prince">The Little Prince</a></cite>).</footer>
</blockquote>

<blockquote class="blockquote">
    <p class="mb-0">"I decline to accept the end of man."</p>
    <footer class="blockquote-footer">William Faulkner, <a href="https://www.nobelprize.org/nobel_prizes/literature/laureates/1949/faulkner-speech.html">at the Nobel Prize Banquet</a> (1949).</footer>
</blockquote>

<blockquote class="blockquote">
    <p class="mb-0">
        <i>沒有喫過人的孩子，或者還有？<br>
            救救孩子……
        </i><br>
        "There still are children who have not yet eaten people, perhaps?<br>
         Save the children..."</p>
    <footer class="blockquote-footer">Lu Xun (魯迅), <cite title="狂人日記">狂人日記</cite> (<cite title="A Madman's Diary"><a href="https://en.wikipedia.org/wiki/A_Madman%27s_Diary">A Madman's Diary</a></cite>).</footer>
</blockquote>

<blockquote class="blockquote">
    <p class="mb-0">
        <i>Die Philosophen haben die Welt nur verschieden interpretiert, es kömmt drauf an,
          sie zu verändern.</i><br>
        "The philosophers have only interpreted the world, in different ways; the point, however,
        is to change it."</p>
    <footer class="blockquote-footer">Karl Marx, <cite title="Thesen über Feuerbach">Thesen über Feuerbach</cite> (<cite title="Theses on Feuerbach"><a href="https://en.wikipedia.org/wiki/Theses_on_Feuerbach">Theses on Feuerbach</a></cite>, 1845).</footer>
</blockquote>
