<!--
   - Copyright(c) 2016 Xuanrui Qi
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
<h2>Contacting me securely</h2>
If you ever need to contact me securely, try these options:<h2></h2><br>

<div>
    <h4>PGP encrypted message</h4>
    <script>
        var blockState = false;

        function togglePublicKey() {
            $('#pgp-key').slideToggle();
            $('#toggler').html(blockState ? "[show public key]" : "[hide public key]");
            blockState = !blockState;
        }
    </script>

    My PGP public key is here: <a href="#!" id="toggler" onclick="togglePublicKey()">[show public key]</a>
    <div class="hidden-block" id="pgp-key">
    <PRE><code id="innerCode"></code></PRE>    
    </div>
    <p>
        Due to the <a href="https://efail.de/">EFAIL</a> vulnerability, though, it might be a good idea not to 
        send me HTML-enabled, PGP-encrypted messages for now.
    </p><br>
</div>

<div>
    <h4>Keybase</h4>
    <p>Send me an encrypted message on <a href="https://keybase.io/xuanruiqi">Keybase</a> using the 
    secure chat utility. Currently, due to the presence of EFAIL, this is probably more reliable than PGP 
    encryption.</p><br>
</div>

<div>
    <h4>Telegram or WhatsApp</h4>
    Ask me (insecurely OK) for my Telegram or WhatsApp account. Both of them are encrypted end-to-end, but 
    Telegram seems to be a bit more reliable.
</div>

<script>
    var pgpKey = 
`
-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v1

mQENBFlu8ZMBCACuD3+RJ5O4Q7/EWGdSEcTgxOr/Y0NeI2WZ3/AGPaPCtOgcLsOh
UgLcb9bgMC8WbaQVwxW2hBfYJfXI8YdVw+q3l+62sYJfztOKoRlT0syv7BQ/Sjb2
71ANJqYvNVIOnb+zWSWU02XTJXTw85GEJzD0Y5rKONt89CtCYxtOb1z0z22hVYcA
uNdiBLT4MLMSfsXsNyV3yXHgP3Lf/K6z2JV60UStJ4wYZLVqHRtzc5kd+aaMSB/1
h2z7tpYnCld6NULTF1Jczlrhsu/T1qrXHdlxoYZUKpHJ8ia/uEs6kEQ9QnRKzqUk
qyfNQfMBbIhFk71mVXe/JT3U+A3ptJeXYR9nABEBAAG0HVh1YW5ydWkgUWkgPG1l
QHh1YW5ydWlxaS5jb20+iQE4BBMBAgAiBQJZbvGTAhsDBgsJCAcDAgYVCAIJCgsE
FgIDAQIeAQIXgAAKCRCH+QACbgb7yCazB/sEFMmoEe+ATJeZQLKcqQbhW2GX7lOf
auc/dcXxr0cbIsmw6M7JZ0h/9g5Ugl4B+TiZyCZSzAxoW/QKBATtaY9H3fYKBdgY
A78nl7P1/crV+WsKx+rLT+70dVaq/Usll9mvsnLDNB0IA4kYf8fZJbo0TFcj5+9X
Shtwm/7VCGqAz4urXPfMBLr5900ePQtcAiIHi/+MYF6IPxEpl4SiF3rc8weEGbAs
fCHaw8GDA0ZAfsAI1x1YWu12LG7T5AwkFollqbor5/g8E27gOorL0UledY1gp38U
qE3H20bAUCD7+SQwqXR4TON8ygB+Y4y0FqY8elzbrfoA3bUqQEUOT/uMuQENBFlu
8ZMBCADB9074KXK5IQdmO/jggMwhT6NpnSJnfE5eCm8o06H26AV6G5mnKMcNJzZ7
A7SDSlou1kckAgyWwUa7EKRAwUnjGfkflxIrdijUTpKLuNIolEWuVeig1WDGD6f9
zgFCK0MVaDXw0OIw1h4DQaZFwFHT16AmX7g8R8THgPOE3eeK7rCbNlOY69odV6Wl
6adh7YE7WrxSr2XGXKrds4+5TM5PGMSeAyFkWYsb7i63sLfuJ6PfaRHLyH0CCASy
Oe1Hg4I3kk7jYCKGpFC+g0qS5nNO6dj1/28dNQyR2LO5FkRhNSu4PnDerkXCc/qs
2hugBvA2WZVSfxNugugD6mF5Tu6xABEBAAGJAR8EGAECAAkFAllu8ZMCGwwACgkQ
h/kAAm4G+8gvOAgAmal169B7GWCeDYlRUgnz6MAflRTjqtNlDf2cfTfOKR6/hUiN
BKBmgECSvFQt34NMwr2FXW8YRBvkFct8ttj147inblGxmBohDSCaq3/Orkn08yjN
xAHufbguxujy18g5xchugWngRVOgJ7MdNkyveUxP0lBShG8+wN4JWQnS2/qntD7X
CuJoI4P2sYtrTStHwFyS2my56+uZ4K60v7uO8TurOKlO+uoJmsEqew/eGFW7UCcK
UZ/JJiGs/QPnME2RwG88ju3+giI6tmzNz1+HcG4KbNq5/Wcf0s1CKM1hKedvssMu
CaoZb6JHNG6OQtDNAtZUD9H+ezO9WGqPGApdzQ==
=Doy1
-----END PGP PUBLIC KEY BLOCK-----
`
    $('.hidden-block').hide();
    $('#innerCode').html(pgpKey);
</script>