<!--
   - Copyright(c) 2016 Xuanrui Qi
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<h2>Some things I've been working on...</h2><br>
<ul>
    <li>Static Program Analysis
        My recent project (in process) is using dependent 
        types to detect memory safety bugs.
    </li>
    <li>The LLVM & JIT Compiling
        <br>I've recently been working on the LLVM and 
        building JIT compilers with LLVM - interfacing
        with the LLVM from OCaml, of course.
    </li>
    <li>Haskell & Mathematical Foundations of Type Systems
        <br>I recently ran into a problem with Haskell: 
        what is a monad? Well, I did Google, but what the 
        heck is "a monoid in the category of endofunctors"?
        So I've decided to start reading on category theory...
        Way too much for Haskell programming.
    </li>
</ul>